{release, {igs_dummy, "0.0.1"}, [igs_dummy, sasl, runtime_tools]}.
{extended_start_script, true}.
{sys_config, "rel/sys.config"}.
{vm_args, "rel/vm.args"}.
{overlay, [
      	%% Create database folder.
      	{mkdir, "dbase/Mnesia"}
      	
      	%% Create dev_patches folder. The patch files can be pushed here.
      	%%{mkdir, "dev_patches"},
      	
      	%% Copy bin/setup.sh into the bin folder in _rel/ folder
      	%%{copy, "bin/igs.sh", "bin/igs.sh"}
]}.
